.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  margin: 136px 40px;
  width: 540px;
  height: 544px;
}

.right-content {
  /* position: relative; */
  width: 480px;
  height: 640px;
}

@media(max-width:375px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .left-content {
    margin: 0 auto;
    width: 375px;
    height: 208px;

  }

  .right-content {
    width: 375px;
    height: 281.25px;
  }


}
