.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  margin: 136px 40px;
  width: 540px;
  height: 544px;
}

.right-content {
  /* position: relative; */
  width: 480px;
  height: 640px;
}

@media(max-width:600px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .right-content {
    position: relative;
    width: 500px;
    height: 281px;
  }

  .left-content {
    margin: 0;
  }
}
