.two-circles {
  position: absolute;
  top: 130px;
  left: 830px;
}

.demi-circle {
  position: absolute;
  top: 130px;
  left: 990px;
}

.vertical-line {
  position: absolute;
  top: 210.5px;
  left: 910px;
  z-index: 0;
}

.black-oval {
  position: absolute;
  top: 290px;
  left: 830px;
}

.white-border-oval {
  position: absolute;
  top: 330px;
  left: 870px;
  z-index: 1;
}

.blue-triangle {
  position: absolute;
  top: 450px;
  left: 830px;
}

.yellow-square {
  position: absolute;
  top: 530px;
  left: 830px;
}

.purple-triangle {
  position: absolute;
  top: 610px;
  left: 830px;
}

.purple-square {
  position: absolute;
  top: 690px;
  left: 910px;
}

.image {
  position: absolute;
  top: 290px;
  left: 990px;
}

.pill {
  position: absolute;
  top: 610px;
  left: 990px;
}

.small-white-circle {
  position: absolute;
  top: 650px;
  left: 1030px;
}

.small-black-circle {
  position: absolute;
  top: 650px;
  left: 1190px;
}

.big-white-circle {
  position: absolute;
  top: 610px;
  left: 1150px;
}

.horizontal-line {
  position: absolute;
  top: 689.5px;
  left: 1070px;
}

@media(max-width:375px) {

  .two-circles {
    position: absolute;
    top: 75px;
    left: 0.59px;
    width: 93.75px;
    height: 93.75px;
  }

  .demi-circle {
    position: absolute;
    top: 122px;
    left: 234px;
    width: 187.5px;
    height: 93.75px;
    transform: rotate(90deg);
  }

  .vertical-line {
    position: absolute;
    top: 122.17px;
    left: 47.46px;
    width: 0.59px;
    height: 46.88px;
    border: 1px solid #151515;
  }

  .black-oval {
    position: absolute;
    top: 168.75px;
    left: 0;
    width: 93.75px;
    height: 93.75px;
  }

  .white-border-oval {
    position: absolute;
    top: 192.19px;
    left: 23.44px;
    z-index: 1;
    width: 46.88px;
    height: 46.88px;
  }

  .blue-triangle {
    position: absolute;
    top: 262.5px;
    left: 281.25px;
    height: 100px;
    width: 100px;
  }

  .yellow-square {
    position: absolute;
    top: 309.38px;
    left: 281.25px;
    height: 46.88px;
    width: 46.88px;
  }

  .purple-triangle {
    position: absolute;
    top: 262.5px;
    left: 0;
    height: 93.75px;
    width: 93.75px;
  }

  .purple-square {
    position: absolute;
    top: 309.38px;
    left: 47.46px;
    height: 46.88px;
    width: 46.88px;
  }

  .image {
    position: absolute;
    top: 75px;
    left: 93.75px;
    width: 187.5px;
    height: 187.5px;
  }

  .pill {
    position: absolute;
    top: 262.5px;
    left: 93.75px;
    width: 187.5px;
    height: 93.75px;
  }

  .small-white-circle {
    position: absolute;
    top: 285.94px;
    left: 117.19px;
    width: 46.88px;
    height: 46.88px;
  }

  .small-black-circle {
    position: absolute;
    top: 285.94px;
    left: 210.94px;
    width: 46.88px;
    height: 46.88px;
  }

  .big-white-circle {
    position: absolute;
    top: 262.5px;
    left: 187.5px;
    width: 93.75px;
    height: 93.75px;
  }

  .horizontal-line {
    position: absolute;
    top: 309.08px;
    left: 140.62px;
    width: 47.46px;
    height: 1.17px;
    border: 1px solid #151515;
  }

}
